@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainSilver: #dad8d8;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.info-center ul {
  list-style-type: none;
  display: flex;
}

input {
  background: none;
}

input:focus {
  background: none;
  border: none;
  outline: none;
}
.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
/*Navbar */
.container-nav {
  border-bottom: solid 0.05rem var(--mainSilver);
  height: 8vh;
}

.nav-more {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav-more {
    display: flex;
    flex-grow: 30%;
  }

  .nav-more i {
    font-size: large;
  }

  .nav-right {
    display: none;
  }
}

.options {
  position: absolute;
  z-index: 1;
  right: 8%;
  width: 227px;
  height: 150px;
  top: 55px;
  background-color: white;
  border: #8d8b8d solid 1px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  box-shadow: 6px 6px 5px -2px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
}

.option-item {
  padding: 0.75rem;
  background: #fff;
  transition: all 0.15s ease-out;
  border-radius: 2px;
  display: block;
  font-size: 1rem;
  color: #202125;
  border-bottom: 1px solid rgba(32, 33, 37, 0.12);
  cursor: pointer;
}
.option-item-last {
  padding: 0.75rem;
  background: #fff;
  transition: all 0.15s ease-out;
  border-radius: 2px;
  display: block;
  font-size: 1rem;
  color: #202125;
  cursor: pointer;
}

.nav-items {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  font-size: 2.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  margin: auto;
}

.nav-right-items {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  font-size: 2.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  margin: auto;
}

.nav-items .nav-left {
  display: flex;
  align-items: center;
  width: 30%;
}

.nav-items .nav-left img {
  cursor: pointer;
}

.nav-items .nav-middle {
  height:30px;
  width: 30%;
  display: flex;
  align-items: center;

}

.nav-items .nav-middle input {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--mainWhite);
  box-sizing: border-box;
  font-size: 1rem;
  border: solid 0.1rem var(--mainGrey);
  border-radius: 5px;
}
.nav-items .nav-middle input:focus {
  text-align: left;
  padding-left: 4px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 0 0 0.05rem rgb(81, 163, 250);
}

.nav-items .nav-right {
  text-align: right;
  width: 30%;
  padding: 0;
}

.nav-items .nav-right .nav-items {
  justify-content: space-between;
  border: none;
}

#sign-up {
  padding: 5px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
}

#sign-up:focus {
  outline: none;
}

#log-in {
  cursor: pointer;
  padding: 5px;
  font-size: 0.9rem;
  border: solid silver 0.05rem;
}
#log-in:focus {
  outline: none;
}

.nav-items .nav-right select {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  width: 40%;
}

#language option {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* End Navbar */
/* Home */
.home-container {
  height: 100vh;
  display: flex;
}

.home-container .home-container-right{
  width: 60%;
}

.home-container-left {
  height: 100%;
  margin: 0 auto;
  width: 40%;
  background-color: rgb(235, 234, 240);
  padding: 10% 10%;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.home-title {
  font-size: 30px;
  animation: fade 3s ease forwards 0.05s;
  animation-iteration-count: infinite;
}
.home-container-left h3 {
  padding: 30px 0 10px;
  margin-bottom: 10px;
}

.home-search {
  display: flex;
  width: fit-content;
  height: 50px;
  margin-bottom: 10px;
}

.home-search-input {
  display: flex;
  font-size: 15px;
  background: var(--mainWhite);
  width: 300px;
  border-radius: 10px;
}

.home-search-input span {
  width: 30px;
  height: inherit;
  font-size: 1.75rem;
}
.home-search-input span i {
  margin: 10px;
}

.home-search-input input {
  background: none;
  border: none;
  font-size: 15px;
  padding-left: 10px;
  cursor: pointer;
}
.home-search-input input:focus {
  border: none;
  outline: none;
}

.home-search button {
  margin-left: 10px;
  height: 50px;
  width: 130px;
  background: none;
  background-color: rgb(33, 129, 231);
  border-radius: 10px;
  border: none;
  align-items: center;
  cursor: pointer;
}

.home-search button:focus {
  border: none;
  outline: none;
  background-color: rgb(9, 97, 192);
}
.home-search button span {
  color: var(--mainWhite);
  font-size: 15px;
}

/* End Home */
/* Tabs bar*/
.container-tabs {
  border-bottom: solid 0.05rem var(--mainSilver);
  height: 8vh;
} 

.tabs-items {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 1.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  margin: auto;
}

.tabs-right-items {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin: auto;
}


.tabs-items .tabs-left {
  display: flex;
  align-items: center;
  width: 30%;
}

@media screen and (max-width: 650px) {
  .tabs-items .tabs-left {
    display: none;
  }
  .tabs-items {
    justify-content: center;
  }
}

.tabs-items .tabs-left p {
  padding-left: 10px;
}

.tabs-items .tabs-right {
  text-align: right;
  justify-content: right;
  width: 70%;
}

.tabs-items .tabs-right .tabs-items {
  border: none;
}
.tabs-items .tabs-right .tabs-items input:hover {
  color: rgb(68, 159, 238);
}
.tabs-items .tabs-right .tabs-items input:focus {
  color: rgb(68, 159, 238);
  outline: none;
}

#discovery {
  padding: 5px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

#delivery {
  cursor: pointer;
  padding: 5px;
  font-size: 1.5rem;
  border: none;
}
.vertical-divider {
  background-color: #8d8b8d;
  width: 1px;
  height: 30px;
  margin: 0 5px;
}

.horizontal-divider {
  background-color: #8d8b8d;
  width: 100%;
  height: 1px;
  margin: 0 5px;
}

/*End of tabs bar*/
/* Filter */
.container-filter {
  border-bottom: solid 0.05rem var(--mainSilver);
  width: 80%;
  margin: auto;
}
.filter {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 20px 0 20px;
}

.filter-delivery-to {
  font-size: 40px;
  font-weight: 500;
  width: fit-content;
}

.filter-list {
  display: flex;
}

#filter-select {
  background: none;
  width: 200px;
}
#filter-select:focus {
  outline: none;
}

.filter-button {
  padding-left: 15px;
}

.filter-button button {
  background: none;
  width: 40px;
  height: 40px;
}

.filter-button button:focus {
  outline: none;
  color: rgb(81, 163, 250);
}

.filter-button-grid {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.filter-button-list {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (max-width: 650px) {
  .container-filter {
    border-bottom: solid 0.05rem var(--mainSilver);
    width: 100%;
    margin: auto;
  }

  .filter-list {
    display: none;
  }

  .filter {
    width: fit-content;
    padding: 20px 20px;
  }
}

@media screen and (max-width: 800px) and (min-width: 651px) {
  .filter-delivery-to {
    display: none;
  }
  .filter-list {
    flex-grow: 1;
    justify-content: space-between;
  }
}

@media screen and (max-width: 992px) {
  .filter-delivery-to {
    font-size: 30px;
  }
}

/* End of Filter */

/* Categories */
.categories {
  width: 80%;
  margin: auto;
  padding: 10px 0;
}
.categories-title {
  font-size: 30px;
  font-weight: 500;
  margin: 20px auto;
}

.categories-center {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .categories-center {
    width: fit-content;
  }
}
@media screen and (max-width: 980px) {
  .categories-center {
    width: fit-content;
  }
  .thumbnails-container {
    width: 200px;
  }
}

.thumbnails-container {
  border-radius: inherit;
  width: fit-content;
  flex: 0 0 fit-content;
  margin-right: 20px;
}

@media screen and (max-width: 1300px) and (min-width: 981px) {
  .thumbnails-container {
    width: fit-content;
    flex: 0 0 30%;
  }
}


.thumbnails-container p {
  text-align: left;
  text-transform: capitalize;
  margin: 10px 0;
  font-weight: 500;
}

.thumbnails-container img {
  width: 240px;
  height: 240px;
  font-size: 1.7rem;
  display: block;
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 4px;
}

/* end of categories */

/* recipelist */
.recipeslist {
  padding: 2rem 0;
  width: 80%;
  margin: auto;
}
.recipeslist .title{
  font-size: 26px;
  font-weight: 400;
  width: 100%;
  height: fit-content;
  margin: 0 0 10px;
}
.recipeslist-center {
  width: 100%;
  padding: auto;
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 650px) {
  .recipeslist {
    width: 100%;
  }
  .recipeslist-center {
    width: 100%;
  }
  .recipeslist .title{
    text-align: center;
  }
}

/*for line-by-line layout */
.recipeslist-center-layout {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) and (min-width: 651px) {
  .recipeslist-center {
    width: inherit;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
@media screen and (max-width: 992px) and (min-width: 801px) {
  .recipeslist-center {
    width: 80%;
    max-width: 1170px;
    margin: auto 10%;
  }
}
/* end of recipelist */

/* recipe */
.recipe {
  margin: 10px;
  flex: 0 0 calc(50% - 20px);
  transition: var(--mainTransition);
  box-shadow: 6px 6px 5px -2px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 10px;
  border: solid 0.05rem silver;
  text-transform: capitalize;
  height: 500px;
}

@media screen and (max-width: 650px) {
  .recipe {
    border-radius: 0px;
    margin: 10px 0px;
    flex: 1 0 calc(100% - 20px);
  }

  .img-container {
    border-radius: 0px;
    height: fit-content;
  }
  .img-container img {
    border-top-left-radius: 0px;
  }
}

@media screen and (max-width: 992px) and (min-width: 651px){
  .recipe {
    margin: 10px;
    flex: 1 0 calc(100% - 20px);
  }
}
@media screen and (max-width: 1120px) and (min-width: 993px) {
  .recipe {
    margin: 10px;
    flex: 0 0 calc(50% - 20px);
    max-width: 1170px;
  }
}

/* for line-by-line layout */
.recipe-layout {
  transition: var(--mainTransition);
  box-shadow: 6px 6px 5px -2px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 10px;
  border: solid 0.05rem silver;
  text-transform: capitalize;
  margin: 20px 0;
  display: flex;
}
.img-container-layout {
  position: relative;
  border-radius: inherit;
  width: 35%;
  height: fit-content;
}
.img-container-layout img {
  width: 100%;
  height: 200px;
  font-size: 1.7rem;
  display: block;
  transition: var(--mainTransition);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.img-container-layout:hover {
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.img-container-layout:hover img {
  opacity: 0.3;
}

.recipe-layout:hover {
  box-shadow: var(--darkShadow);
}

.img-container-layout:hover .recipe-link {
  transform: translate(-50%, -50%) scale(1);
}

.recipe-container-info-layout {
  width: 100%;
}

.recipe-info-layout {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
  height: 75%;
  border-bottom: dashed 0.05rem silver;

}

/* end line-by-line layout */

.recipe:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
  border-radius: inherit;
  height: 75%;
}
.img-container img {
  width: 100%;
  height: 100%;
  display: block;
  transition: var(--mainTransition);
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.recipe-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .recipe-link {
  transform: translate(-50%, -50%) scale(1);
}
.recipe-container-info {
  height: 25%;
}
.recipe-info {
  display: flex;
  height: 75%;
  justify-content: space-between;
  text-transform: capitalize;
  border-bottom: dashed 0.05rem silver;

}
.recipe-info-left {
  width: 90%;
  height: fit-content;
  padding: 0;
  margin: auto 5px;
  line-height: 20px;
  align-items: center;
}

.recipe-info-left-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: var(--mainSpacing);
  width: fit-content;
}
.recipe-info-left-description {
  font-size: 17px;
  font-weight: 300;
  width: 100%;
  margin-top: 2%;
}

.recipe-info-right {
  padding: 0;
  margin: auto 5px;
  line-height: 20px;
  background-color: rgb(128, 193, 255);
  color: rgb(3, 98, 207);
  border-radius: 15px;
  width: 100px;
  height: fit-content;
  align-items: center;
}
.recipe-info-right p {
  text-align: center;
  font-size: 15px;
}

.recipe-subinfo {
  width: 100%;
  height: 25%;
  display: flex;
  padding: 0;
  margin: auto;
  padding-left: inherit;
  align-items: center;
}

.recipe-subinfo span {
  padding: 0px 5px;
  font-size: 12px;
}
/* end of recipe  */

/* Footer */

.footer {
  height: 45vh;
  background-color: rgb(211, 210, 210);
  text-align: left;
  width: 80%;
  margin: auto;
}

.footer-top {
  padding: 50px 0 20px;
  display: flex;
  width: fit-content;
}

.footer-middle {
  display: flex;
}
.footer-logo {
  width: 400px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33% - 20px);

}

@media screen and (max-width: 650px) {
  .footer {
    height: 60vh;
  }
  .footer-middle {
    display: block;
  }
  .footer-logo {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
  }
  .footer-logo h3 {
    display: none;
  }
  .footer-logo span {
    margin: 0 20px 0 0;
  }
  .footer-bottom .footer-detail p {
    font-size: 15px;
  }
}
@media screen and (max-width: 992px) and (min-width: 651px) {
  .footer {
    height: 50vh;
  }
}


.footer-logo span img {
  width: 135px;
  height: 40px;
}

.footer-detail {
  width: 400px;
  margin: 20px 0;
  flex: 0 0 calc(33.333% - 20px);
}

.footer-logo h3,
.footer-detail h3 {
  margin-bottom: 15px;
}

.footer-bottom {
  display: flex;
  margin: 20px 0;
}

/* End of footer */
